python-dotenv==1.2.2
pandas==3.0.2
jupyter==1.1.1
rank-bm25==0.2.2
sentence-transformers==5.4.0
faiss-cpu==1.13.2
langchain==1.2.15
shiny==1.6.0
duckdb==1.5.1
spacy==3.8.13
langchain-community==0.4.1
langchain-huggingface==1.2.1
langchain==1.2.15